<!-- about page content -->
<h2>About</h2>
<section>
  <p>
    Repudiandae, totam in voluptate debitis error vel ipsum quidem blanditiis alias eveniet autem
    facilis provident deserunt cupiditate, dolores dolorum quasi! Placeat dicta,
    itaque, ratione deleniti, adipisci ut repellat sint animi aliquam corrupti
    eligendi. Suscipit impedit perspiciatis veniam culpa, nobis perferendis
    quaerat expedita asperiores pariatur ipsam assumenda sapiente aliquam
    reprehenderit ipsa eaque similique vitae cupiditate tenetur quibusdam labore
    aut! Sed nobis illo eius, ipsam, architecto exercitationem, eveniet maxime
    odio aliquam atque consequuntur illum adipisci voluptate deserunt eum
    reiciendis vitae alias.
  </p>
  <p>
    Fugit possimus unde quam ab debitis officia odio voluptatibus rerum, optio
    hic facilis doloremque pariatur sapiente ipsum! Aspernatur aliquid
    distinctio excepturi est fuga. Minus quam sapiente eveniet voluptatibus
    magnam voluptate voluptas numquam temporibus illum ut, veritatis enim aut
    accusantium natus cumque, sunt quaerat iste, ipsa tenetur dolorum tempore et
    doloremque perspiciatis blanditiis! Commodi at quisquam expedita eum esse
    nihil adipisci! Ad odit soluta beatae incidunt excepturi repudiandae
    voluptatibus, itaque, magnam in voluptas voluptatum enim sequi aspernatur
    illum vitae quibusdam, pariatur consequuntur deleniti aperiam? Iusto
    voluptas minus officiis nemo et illo ad dolorem tempore repellendus, omnis
    nobis similique delectus recusandae incidunt hic quas excepturi?
  </p>
  <p>
    Sunt voluptas quas voluptatem deleniti inventore, vel, quis tempora
    laboriosam impedit quaerat nemo quod doloremque deserunt adipisci rerum
    incidunt quidem hic necessitatibus illum soluta ea nam ab! Nihil, neque cum
    amet hic, quasi rem ducimus delectus rerum esse eum tempora dignissimos aut
    ea eligendi. Illum voluptatibus incidunt sint. Aut, soluta reprehenderit.
    Inventore quis nesciunt nisi numquam adipisci officia. Eum porro quis in
    blanditiis, rem corporis consequuntur sequi quidem molestiae. Dolores
    consequatur ullam dolorem esse tempora, quia explicabo ut similique
    repellendus aperiam quibusdam aliquid debitis, autem quasi libero maxime
    accusamus ipsa nobis consectetur maiores. Aliquid, facilis. Esse corporis
    iure tempore assumenda! Nostrum, similique dignissimos tempore vitae, fugiat
    porro enim repellendus totam illum doloribus distinctio recusandae nisi
    tempora adipisci eveniet.
  </p>
</section>